{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>login</title>
	<style type="text/css">
	form{
		width:300px;
	}
	.form-field{
		width:100%;
	}
	input{
		margin-bottom:20px;
	}

	

	h2{
 		color: blue;
 		text-align: center;
	}

	p{
 		font-family: verdana;
		font-size:25px;
		color: blue;
	}
	


	.split {
 	 height: 100%;
 	 width: 50%;
 	 position: fixed;
 	 z-index: 1;
 	 top: 0;
 	 overflow-x: hidden;
 	 padding-top: 20px;
	}
	
	.left {
  	left: 0;
  	
	}

	.right {
  	right: 0;
  	
	}

	.centered {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	
	}

.tdStyle{
		background-image:url("/static/images/img2.jpg") ;
		background-repeat:no-repeat;
		color: white;
		height: 650px;
		
	}


	</style>
  </head>
  <body	class="tdStyle">
	<center><h2>Sign Up</h2></center>
	<div class="container" style="padding-top:110px"> 
	<div class="split left">
 	<div class="centered">
	<form method="POST" id="formid1" >
		{% csrf_token %}
	<p>


 	
	</select> <br/><br/>


		 <select name="designation">
		<option value="Designation" >Designation</option>
   		 <option value="admin">Admin</option>
   		 <option value="user">User</option>
   		
  			</select><br>


		Username<input type="text" id="txt_uname" name="txt_uname" class="form-field"> <br>
		Password<input type="password" id="txt_pwd" name="txt_pwd" class="form-field"> <br>
		Confirm Password<input type="password" id="txt_cpwd" name="txt_cpwd" class="form-field"> <br>
				
		<input type="submit" id="btn_submit" value="Submit" style="background-color:rgb(60, 179, 70)">
	
		<a href="../../Home/">Login</a>
	</p>	




	</form>
	</div>
	</div>
	<div class="split right">
 	<div class="centered">
<!--	<textarea id="textarea" rows="15" cols="30"></textarea> -->
	</div>
	</div>
	</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    


 <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
 crossorigin="anonymous"></script>


<!--
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> 
-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>





<script type="text/javascript">


$.ajaxSetup({
     beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                     if (cookie.substring(0, name.length + 1) == (name +'=')) {
                         cookieValue =decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                     }
                 }
             }
             return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) ||
/^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
     }
});



$("#btn_submit").click(function(e){


e.preventDefault();
$.ajax({
	url:"signupfn/",
	type:"post",
	datatype:"json",
	data:$("#formid1").serialize(),
	
	success:function(data)
	{
		
		$("#txt_uname").val("");
		$("#txt_pwd").val("");
		$("#txt_cpwd").val("");
		if(data.status)
		{
			if(data.val1)
			{
			alert("Please select a designation")
			}
			else if(data.val2){
		
			alert("Data saved successfully! ");	
			}			
			else if(data.val3){
		
			alert("Data saved successfully! ");	
			}
			else if(data.val4)
			{	
				alert(data.val4)
			}			
			
		}
		else
		{
			if(data.val5)
			{
			alert(data.val5)
			}
			else{
			alert("Please Input some values!!!");
			}
		}
	},
	error:function()
	{
	alert("Connection Failed");
	}
	});
});


	
</script>

  </body>
</html>
