{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>View Questions</title>
	<style type="text/css">

	form{
	width:300px;
	}
	.form-field{
	width:100%;
	}
	input
	{
	margin-bottom:20px;
	}

	h2{
	color: blue;
	text-align: center;
	font-weight: bold;
	}
	p{
	font-family: verdana;
	font-size: 25px;
	
	color: blue;
	}

.tdStyle{
		background-image:url("/static/images/img2.jpg") ;
		background-repeat:no-repeat;
		color: white;
		height: 650px;
		
	}



	</style>
  </head>
  <body class="tdStyle">
	<center><h2>Question Set</h2></center>
	<div class="container" style="padding-top:110px">
	<form method="POST" id="formid" action="view questions/">
		{% csrf_token %}
		<p>		

	<input type="submit" name="btn_submit1" id="btn_submit1" value="SET 1" style="background-color:rgb(60, 179, 70)"><br>

	
	<input type="submit" name="btn_submit2"  id="btn_submit2" value="SET 2" style="background-color:rgb(60, 179, 70)"><br>	
	<!--<input type="submit" name="btn_submit3" id="btn_submit3" value="SET 3" style="background-color:rgb(60, 179, 70)"><br> -->	
		
				
</p>
	</form>
	<!-- <textarea id="textarea" rows="10" cols="35"></textarea> -->
	</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
 crossorigin="anonymous"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<script type="text/javascript">

$.ajaxSetup({
     beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                     if (cookie.substring(0, name.length + 1) == (name +'=')) {
                         cookieValue =decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                     }
                 }
             }
             return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) ||
/^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
     }
});
/*
$("#btn_submit").click(function(e){

//alert("ajax call");
e.preventDefault();
$.ajax({
	url:"view questions/",
	type:"post",
	datatype:"json",
	data:$("#formid").serialize(),
	
	success:function(data)
	{
		//alert("in success fn");
	

		if(data.status)
		{
			//alert("true ");	
			$("#textarea").val(data.val);
		}
		else
		{
			alert("No approved leaves");
		}
	},
	error:function()
	{
	alert("Connection Failed");
	}
	});
});*/
/*$("#btn_submit1").click(function(e){
//e.preventDefault();
window.location.replace("view questions/");
});

$("#btn_submit2").click(function(e){
//e.preventDefault();
window.location.replace("view questions/");
});

$("#btn_submit3").click(function(e){
e.preventDefault();
window.location.replace("view questions/");
});*/	
</script>
  </body>
</html>
